// Colors
$primary-color: #202020;
$primary-color-contrast: #e5e5e5;


// Fonts
$primary-font: 'Quicksand', sans-serif;
$secondary-font: 'Big Shoulders Display', sans-serif;


// Sizes
$appbar-height: 6vh;
